$fa-font-path: "../fonts/fontawesome";
/* FONTS DEFINITION */
@import 'fontawesome/solid.scss';
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Raleway:wght@300;400;600&display=swap');

/* END OF FONTS DEFINITION */

$font-family: 'Raleway', sans-serif;
$font-family-mono: 'Anonymous Pro', monospace;

$color-bg: white;

body {
	margin: 0px;
	background-color: $color-bg;
	font-family: $font-family;
	font-size: 110%;
}

pre {
	font-family: $font-family-mono;
}

summary {
	cursor: pointer;
}

button {
	padding: 0.25em 1em;
	border-radius: 0.25em;
	margin: 0.25em;

	font-family: $font-family;
	font-size: 1em;

	color: black;
	background-color: #a0a0a0;
	border: 0px;
}

button.add {
	&::before {
		@extend .fa;
		font-size: 1.2em;
		content: "#{$fa-var-plus}";
	}
}

button.remove {
	&::before {
		@extend .fa;
		font-size: 1.2em;
		content: "#{$fa-var-minus}";
	}
}

#user_panel {
	background-color: #f0f0f0;
}

#user_panel>* {
	padding: 0.3em 1em;
}

#user_edit::after {
	@extend .fa;
	padding-left: 0.2em;
	content: "#{$fa-var-user-edit}"
}

#user_logout::after {
	@extend .fa;
	padding-left: 0.2em;
	content: "#{$fa-var-sign-out-alt}"
}

#main_header {
	text-align: center;
}

.flex {
	display: flex;
}

.flex_center {
	@extend .flex;
	justify-content: center;
	align-items: center;
}

.flex_horizontal {
	@extend .flex;
	flex-direction: row;
}

.flex_horizontal_space {
	@extend .flex_horizontal;
	justify-content: space-between;
}

.flex_horizontal_end {
	@extend .flex_horizontal;
	justify-content: end;
}

.flex_horizontal_wrap {
	@extend .flex_horizontal;
	flex-wrap: wrap;
}

.flex_vertical {
	@extend .flex;
	flex-direction: column;
}

.flex_vertical_center {
	@extend .flex_vertical;
	justify-content: center;
}

.dialog_layer {
	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0;
	left: 0;

	@extend .flex_vertical_center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.2);

	padding: 2em;
	box-sizing: border-box;
	z-index: 100;
}

.dialog_layer>* {
	padding: 1em 2em;
	border-radius: 0.5em;
	background-color: white;

	overflow: auto;
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
}

#dialog_progress_description {
	text-align: center;
	padding-bottom: 0.25em;
}

#dialog_progress_container {
	height: 1.5em;
	min-width: 15em;
	background-color: #f0f0f0;
	position: relative;
}

#dialog_progress_bar {
	background-color: #60f2cd;
	height: 100%;
	position: absolute;
}

#dialog_progress_percentage {
	text-align: center;
	position: relative;
}