@import "base";

$process-running-color: #e8f5e9;
$process-stopped-color: #fbe9e7;

.process {
	width: 80%;
	padding: 0.5em;
	margin: 0.5em auto;
	border-radius: 0.5em;

	background-color: #f0f0f0;
}

.process.running {
	background-color: $process-running-color;
}

.process.stopped {
	background-color: $process-stopped-color;
}

.process>* {
	margin: 0.2em 0px;
}

.process_icon {
	width: 3em;
	height: 3em;
	margin-right: 0.5em;

	background-image: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;

	&.default::before {
		@extend .fa;
		font-size: 2em;
		display: block;
		text-align: center;
		margin: 0.2em 0;
		content: "#{$fa-var-terminal}";
	}
}

.process_name {
	display: inline;
}

.process_status {
	text-align: center;
	margin-bottom: 0.2em;
}

@mixin process_stat($width, $icon) {
	width: $width;
	display: inline-block;
	text-align: right;

	&_icon::before {
		@extend .fa;
		font-size: 1.2em;
		content: "#{$icon}";
	}
}

.process_cpu {
	@include process_stat(4em, $fa-var-microchip);
	margin-right: 0.5em;
}

.process_memory {
	@include process_stat(5em, $fa-var-database);
}

.process_info {
	width: 80%;
	margin: 0 auto;

	font-family: $font-family-mono;
	color: #606060;
}

.process_monit_chart {
	width: 50%;
}

#dialog_log {
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
}

#dialog_log_container {
	overflow: auto;
	background-color: black; // TODO: better colors
	color: white;
	flex-grow: 1;
}

#dialog_log_view {
	margin: 0px;
}

#dialog_files {
	width: 90%;
	display: flex;
	flex-direction: column;
}

#dialog_files_list_container {
	overflow: scroll;
}

#dialog_files_list {
	width: 100%;
	border-collapse: collapse;

	td,
	th {
		padding: 0.25em 0px;
	}

	th {
		text-align: left;
	}

	>thead {
		position: sticky;
		top: 0;
		left: 0;
		background-color: white;
	}

	>tbody {
		overflow: scroll;
	}
}

#dialog_files_header>div {
	@extend .flex_horizontal;
	align-items: baseline;
}

#dialog_files_path {
	flex-grow: 1;
	margin: 0px 0.5em;
}

#dialog_files_context_menu {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 10em;

	box-shadow: 0px 0px 0.3em #606060;
	background: #f0f0f0;
	padding: 0.2em;

	@extend .flex_vertical;
}